.about {
  &__content {
    overflow: hidden;
    padding: 60px 0 58px;
    box-sizing: border-box;
    background-image: url("../images/about.png");
    background-repeat: no-repeat;
    background-position: 130% 50%;

    p {
      width: 570px;
      color: #727272;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 14px;
      margin-left: 300px;
    }
  }

  &__title {
    float: left;
    display: inline-block;
    max-width: 300px;
    color: #01549f;
    font-family: $font-family;
    font-size: 36px;
    font-weight: 700;
  }

  &__link {
    color: #01549f;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 500;
    line-height: 9px;
    text-transform: uppercase;
    margin-left: 300px;
    padding: 9px 10px 6px;

    &::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 6px;
      height: 9px;
      margin-top: -3px;
      margin-left: 12px;
      background-image: url("../icons/arrow-right.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }


    &:hover {
      color: #ffffff;
      background-color: #01549f;

      &::after {
        background-image: url("../icons/arrow-right-hover.svg");
      }
    }
  }
}
