.accordion {
  float: left;
  position: relative;
  display: block;
  width: 870px;
  margin-bottom: 50px;

  &__item {
    position: relative;
    display: block;
    margin: 0 15px;
    border-bottom: 1px solid #f8f8f8;
    background-color: #ffffff;
    transition: margin .35s, box-shadow .35s;

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      margin-left: 0;
      margin-right: 0;
      box-shadow: 0 3px 16px rgba(3, 4, 4, 0.13);
      z-index: 1;

      .accordion {
        &__button {
          &::after {
            background: #01549f url("../icons/plus-white.svg") no-repeat center;
          }
        }
      }
    }

    &.current {
      margin-left: 0;
      margin-right: 0;
      box-shadow: 0 3px 16px rgba(3, 4, 4, 0.13);
      z-index: 1;

      &:hover {
        .accordion {
          &__button {
            &::after {
              background: transparent url("../icons/plus.svg") no-repeat center;
            }
          }
        }
      }

      .accordion {
        &__heading {
          color: #01549f;
          font-family: $font-family;
          font-size: 24px;
          font-weight: 300;
          line-height: 19px;
          margin-bottom: 22px;

          &__button {
            &::after {
              transform: rotate(45deg);
            }
          }
        }

        &__button {
          &::after {
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  &__heading {
    position: relative;
    display: block;
    color: #727272;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 300;
    line-height: 15px;
    padding: 25px 60px 22px 29px;
  }


  &__button {
    position: absolute;
    display: block;
    width: 31px;
    height: 32px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    transition: top .35s;

    &::after {
      content: '';
      position: relative;
      display: block;
      width: 31px;
      height: 31px;
      border-radius: 100%;
      background: transparent url("../icons/plus.svg") no-repeat center center;
      transform: rotate(0);
      transition: transform .35s, background-color .35s;
    }
  }


  &__review {
    display: none;
  }
}
