.banner {
  display: block;
  padding-bottom: 60px;

  &-review {
    float: left;
    position: relative;
    display: block;
    width: 870px;
    height: 248px;
    box-sizing: border-box;
    margin-right: 30px;
    background-color: #01549f;

    &__overflow {
      position: relative;
    }

    &__item {
      position: relative;
      overflow: hidden;
      display: none;

      &:first-child {
        display: block;
      }
    }

    &__content {
      float: left;
      overflow: hidden;
      display: inline-block;
      width: 600px;
      padding: 40px 67px 0 40px ;
      box-sizing: border-box;

      h3 {
        display: block;
        color: #ffffff;
        font-family: $font-family;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 26px;
      }
    }

    &__image {
      float: right;
      position: relative;
      overflow: hidden;
      display: inline-block;
      width: 270px;
      height: 248px;
    }


    &__controllers {
      position: absolute;
      display: inline-block;
      right: 220px;
      bottom: 0;
      z-index: 1;
    }

    &__prev,
    &__next {
      float: left;
      position: relative;
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: #ffffff;

      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 11px;
        height: 19px;
        top: 50%;
        left: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background-color: #01549f;
      }
    }

    &__prev {
      &::after {
        background-image: url("../icons/big-arrow-left.svg");
      }

      &:hover {
        &::after {
          background-image: url("../icons/big-arrow-left-hover.svg");
        }
      }
    }

    &__next {
      &::after {
        background-image: url("../icons/big-arrow-right.svg");
      }

      &:hover {
        &::after {
          background-image: url("../icons/big-arrow-right-hover.svg");
        }
      }
    }
  }


  &-promo {
    float: right;
    display: block;
    width: 270px;
    height: 248px;
    line-height: 248px;
    text-align: center;
    border: 4px solid #01549f;
    box-sizing: border-box;
    background-color: #ffffff;

    &__icon {
      display: inline-block;
      width: 52px;
      height: 30px;
      margin: 0 auto 22px;
      background-image: url("../icons/big-crown.svg");
      background-repeat: no-repeat;
    }

    &__link {
      color: #01549f;
      font-family: $font-family;
      font-size: 13px;
      font-weight: 500;
      line-height: 9px;
      text-transform: uppercase;
      padding: 9px 10px 6px;

      &::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 9px;
        margin-top: -4px;
        margin-left: 5px;
        background-image: url("../icons/arrow-right.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &:hover {
        color: #ffffff;
        background-color: #01549f;

        &::after {
          background-image: url("../icons/arrow-right-hover.svg");
        }
      }
    }

    &__content {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;

      h3 {
        display: block;
        color: #01549f;
        font-family: $font-family;
        font-size: 32px;
        font-weight: 700;
        line-height: 22px;
        margin-bottom: 17px;
      }

      p {
        color: #727272;
        font-family: $font-family;
        font-size: 18px;
        font-weight: 300;
        line-height: 12px;
        margin-bottom: 37px;
      }
    }
  }


  &-teaser {
    position: relative;
    display: block;


    &__thumb {
      overflow: hidden;
      display: block;
      width: 100%;
      height: 191px;

      img {
        display: block;
        margin: 0;
        padding: 0;
      }
    }


    &__title {
      display: block;
      color: #ffffff;
      font-family: $font-family;
      font-size: 22px;
      font-weight: 700;
      line-height: 32px;
      text-align: center;
      margin-bottom: 27px;
    }

    &__content {
      display: block;
      padding: 40px 29px;
      box-sizing: border-box;
      background-color: #01549f;
    }

    &__button {
      width: 100%;
    }
  }
}
