.breadcrumbs {
  display: block;
  background-color: #ffffff;

  &__item {
    float: left;
    display: inline-block;
    color: #bfbfbf;
    font-family: $font-family;
    font-size: 11px;
    font-weight: 400;
    line-height: 8px;
    text-transform: uppercase;
    padding: 32px 0 28px;
    transition: color .35s;

    &::after {
      content: '/';
      position: relative;
      display: inline-block;
      color: #bfbfbf;
      vertical-align: middle;
      margin: 0 20px;
    }

    &:hover {
      color: #f43739;

      &::after {
        color: #bfbfbf;
      }
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
