.certificates {
  &__nowrap {
    background-color: transparent;
  }
}

.certificate {

  &-list {
    position: relative;
    display: block;
    @include clearfix();

    &__item {
      float: left;
      display: inline-block;
      width: 195px;
      margin-right: 30px;
      margin-bottom: 40px;

      &:nth-child(4n+4) {
        margin-right: 0;
      }
    }
  }


  &__thumb {
    position: relative;
    display: block;
    height: 280px;
    padding: 34px 23px;
    margin-bottom: 19px;
    box-sizing: border-box;
    background-color: #ffffff;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 60px;
      height: 60px;
      top: 50%;
      left: 50%;
      opacity: 0;
      border-radius: 30px;
      z-index: 4;
      background-size: 25px 25px;
      background: #01549f url('../icons/search-plus.svg') no-repeat center center;
      transform: translate(-50%, -50%);
      transition: opacity .35s;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }


    img {
      position: relative;
      display: inline-block;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__thumbs {
    display: none;
  }

  &__count {
    position: absolute;
    display: inline-block;
    color: #ffffff;
    font-family: $font-family;
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
    text-transform: uppercase;
    border-radius: 14px;
    padding: 10px 10px 8px;
    left: 10px;
    bottom: 10px;
    z-index: 3;
    background-color: #d6d6d6;
  }

  &__caption {
    display: block;
    color: #727272;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    vertical-align: top;
  }
}
