.content {
  &__wrapper {
    background-color: #f8f8f8;
    @extend .clearfix;
  }

  &__title {
    display: block;
    max-width: 870px;
    padding-top: 55px;
    padding-right: 130px;
    padding-bottom: 34px;
    box-sizing: border-box;
  }

  &__main {
    float: left;
    display: block;
    width: 870px;


    p {
      color: #727272;
      font-family: $font-family;
      font-size: 24px;
      font-weight: 300;
      line-height: 32px;
      padding-top: 37px;
      padding-right: 205px;
      margin-bottom: 55px;
    }


    h5 {
      display: block;
      opacity: 0.5;
      color: #727272;
      font-family: $font-family;
      font-size: 11px;
      font-weight: 400;
      line-height: 8px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }
}
