.contacts {
  &__container {
    position: relative;
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 61px;
    z-index: 10;

    .sidebar {
      &-menu {
        padding: 21px 59px 21px 29px;
      }
    }
  }
  &__form {
    float: left;
    display: block;
    width: 870px;
    height: 296px;
    padding: 40px 30px 28px;
    box-sizing: border-box;
    background-color: #f8f8f8;

    &-content {
      float: right;
      display: block;
      width: 570px;
    }
  }


  &__title {
    float: left;
    display: inline-block;
    color: #01549f;
    font-family: $font-family;
    font-size: 24px;
    font-weight: 700;
    line-height: 21px;
    padding-top: 11px;
  }
}
