.dropset {
  &-top {
    position: relative;
    display: block;
    width: 1170px;
    margin: 0 auto;

    &__item {
      position: absolute;
      display: inline-block;
      z-index: 1;
      background-repeat: no-repeat;
    }

    &__1 {
      top: 0;
      left: -367px;
      width: 192px;
      height: 506px;
      background-image: url('../images/drop-1.png');
    }

    &__2 {
      top: 27px;
      left: -167px;
      width: 122px;
      height: 188px;
      background-image: url('../images/drop-2.png');
    }

    &__3 {
      top: 27px;
      right: -320px;
      width: 188px;
      height: 320px;
      background-image: url('../images/drop-3.png');
    }

    &__4 {
      top: 418px;
      right: 0px;
      width: 307px;
      height: 242px;
      background-image: url('../images/drop-4.png');
    }
  }
  &-bottom {
    position: relative;
    display: block;
    width: 1170px;
    margin: 0 auto;

    &__item {
      position: absolute;
      display: inline-block;
      z-index: 1;
      background-repeat: no-repeat;
    }

    &__1 {
      bottom: -3px;
      left: -390px;
      width: 1920px;
      height: 425px;
      background-image: url('../images/dropset-bottom.png');
    }
  }
}
