.feedback {
  float: left;
  position: relative;
  display: block;
  width: 870px;
  margin-bottom: 20px;


  &__item {
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0 15px;
    border-bottom: 1px solid #f8f8f8;
    background-color: #ffffff;
    transition: margin .35s, box-shadow .35s;

    &:hover {
      margin-left: 0;
      margin-right: 0;
      box-shadow: 0 3px 16px rgba(3, 4, 4, 0.13);
      z-index: 1;

      .feedback {
        &__link {
          padding-left: 43px;
          padding-right: 101px;
        }

        &__button {
          &::after {
            background: #01549f url("../icons/plus-white.svg") no-repeat center;
          }
        }
      }
    }

    &.current {
      margin-left: 0;
      margin-right: 0;
      box-shadow: 0 3px 16px rgba(3, 4, 4, 0.13);
      z-index: 1;

      &:hover {
        .feedback {
          &__button {
            &::after {
              background: transparent url("../icons/plus.svg") no-repeat center center;
            }
          }
        }
      }

      .feedback {
        &__link {
          padding-left: 43px;
          padding-right: 101px;
        }

        &__button {
          top: 35px;

          &::after {
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  &__date {
    display: block;
    color: #727272;
    font-family: $font-family;
    font-size: 13px;
    line-height: 9px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__link {
    overflow: hidden;
    position: relative;
    display: block;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #727272;
    padding: 30px 86px 35px 28px;
    box-sizing: border-box;
    transition: padding .35s;
  }

  &__text {
    &--full {
      display: none;
    }
  }

  &__review {
    display: none;
  }


  &__button {
    position: absolute;
    display: block;
    width: 31px;
    height: 32px;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    transition: top .35s;

    &::after {
      content: '';
      position: relative;
      display: block;
      width: 31px;
      height: 31px;
      border-radius: 100%;
      background: transparent url("../icons/plus.svg") no-repeat center center;
      transform: rotate(0);
      transition: transform .35s, background-color .35s;
    }
  }



  &-form {
    position: relative;
    display: block;
    padding: 60px 30px 60px;
    box-sizing: border-box;
    z-index: 3;
    background-color: #f0f0f0;
    @include clearfix();

    &__title {
      float: left;
      display: inline-block;
      color: #01549f;
      font-family: $font-family;
      font-size: 48px;
      font-weight: 700;
      line-height: 80px;
    }

    &__content {
      float: right;
      display: block;
      width: 770px;
    }
  }
}
