.footer {
  position: absolute;
  display: block;
  min-width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #f8f8f8;
  z-index: 1;
  background-color: #fff;

  &__left {
    float: left;
    display: inline-block;
  }

  &__content {
    position: relative;
    padding: 60px 0;
    z-index: 4;

    .copyright {
      display: block;
      color: #727272;
      font-family: $font-family;
      font-size: 13px;
      font-weight: 300;
      line-height: 12px;
      margin-bottom: 20px;
    }

    .certificate {
      display: block;
      color: #727272;
      font-family: $font-family;
      font-size: 13px;
      font-weight: 300;
      line-height: 12px;
      margin-bottom: 87px;
    }

    .leave-review {
      display: block;

      &__link {
        position: relative;
        display: inline-block;
        color: #01549f;
        font-family: $font-family;
        font-size: 13px;
        font-weight: 700;
        line-height: 9px;
        padding: 11px 17px 8px;
        margin-left: -17px;
        transition: color .35s, background-color .35s;

        &::after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 11px;
          height: 10px;
          margin-left: 4px;
          background-image: url("../icons/heart.svg");
          background-repeat: no-repeat;
          background-position: center;
        }

        &:hover {
          color: #ffffff;
          background-color: #01549f;
        }
      }
    }


    .created {
      float: right;
      display: inline-block;
      margin-top: 120px;

      &__title {
        display: block;
        color: #959494;
        font-family: $font-family;
        font-size: 12px;
        font-weight: 400;
        line-height: 10px;
        margin-bottom: 5px;
      }

      &__logo {
        position: relative;
        display: block;
        width: 91px;
        height: 30px;
        background-image: url("../icons/bdv-logo.svg");
        background-repeat: no-repeat;
        background-position: center;
        transition: background-image .35s;

        &:hover {
          background-image: url("../icons/bdv-logo-hover.svg");
        }
      }
    }
  }


  &__menu {
    float: left;
    display: inline-block;
    margin-left: 170px;
  }
}
