.gallery {
  position: relative;

  &__overflow {
    overflow: hidden;
  }

  &__item {
    overflow: hidden;
    position: relative;
    display: none;
    width: 100%;
    height: 380px;

    &:first-child {
      display: block;
    }

    &.active {
      display: block;
    }
  }

  &__caption {
    display: block;
    color: #727272;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 300;
    line-height: 12px;
    box-sizing: border-box;
  }


  &__controllers {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  &__prev,
  &__next {
    float: left;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    transition: background-color .35s;

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      width: 11px;
      height: 19px;
      top: 50%;
      left: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transform: translate(-50%, -50%);
      transition: background-image .35s;
    }

    &:hover {
      background-color: #01549f;
    }
  }

  &__prev {
    &::after {
      background-image: url("../icons/big-arrow-left.svg");
    }

    &:hover {
      &::after {
        background-image: url("../icons/big-arrow-left-hover.svg");
      }
    }
  }


  &__next {
    &::after {
      background-image: url("../icons/big-arrow-right.svg");
    }

    &:hover {
      &::after {
        background-image: url("../icons/big-arrow-right-hover.svg");
      }
    }
  }
}
