.header {
  background-color: #01549f;

  &__inner {
    padding: 30px 0;
  }

  &__actions {
    float: right;
    display: inline-block;
  }

  &__link {
    float: left;
    display: inline-block;
    color: #ffffff;
    font-family: $font-family;
    font-size: 13px;
    font-weight: 300;
    padding: 6px 10px 5px;

    &:hover {
      color: #01549f;
      background-color: #ffffff;
    }

    &--account {
      &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        height: 18px;
        margin-top: -3px;
        margin-right: 8px;
        background-image: url("../icons/user.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &:hover {
        &::before {
          background-image: url("../icons/user-hover.svg");
        }
      }
    }

    &--basket {
      &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 19px;
        height: 19px;
        margin-top: -3px;
        margin-right: 8px;
        background-image: url("../icons/cart.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &:hover {
        &::before {
          background-image: url("../icons/cart-hover.svg");
        }
      }
    }

    &--results {
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      padding: 8px 17px 6px;
      margin-left: 19px;
      background-color: #f43739;

      &:hover {
        color: #ffffff;
        background-color: #131313;
      }
    }
  }

  &__logo {
    float: left;
    display: inline-block;
  }

  &__city {
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 300;
    line-height: 12px;
    cursor: pointer;
    margin-top: 36px;
    margin-left: 34px;
    margin-right: 10px;
    padding: 16px 16px 14px;

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      width: 9px;
      height: 6px;
      top: 20px;
      right: 0;
      background-image: url("../icons/arrow-bottom.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &:hover {
      color: #01549f;
      background-color: #fff;
    }
  }

  &__contact {
    display: inline-block;
    color: #ffffff;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 50px;
  }

  &__menu {
    float: right;
    display: inline-block;
    margin-top: 36px;
    margin-right: -16px;
  }
}
