.inner {
  display: block;
  padding-bottom: 60px;
  @extend .clearfix;

  &__main {
    float: left;
    display: block;
    width: 870px;
    background-color: #ffffff;
  }

  &__preview {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 490px;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__heading {
    display: block;
    color: #727272;
    font-family: $font-family;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    padding: 70px 110px 55px 99px;
    box-sizing: border-box;

    h5 {
      display: block;
      opacity: 0.5;
      color: #727272;
      font-family: $font-family;
      font-size: 11px;
      font-weight: 400;
      line-height: 8px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }

  &__gallery {
    .gallery {
      &__caption {
        padding: 20px 110px 0px 99px;
      }
    }
  }

  &__content {
    display: block;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #727272;
    padding: 60px 110px 108px 99px;
    box-sizing: border-box;

    p {
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__actions {
    display: block;
    padding-top: 57px;
    @extend .clearfix;

    .back-link {
      display: inline-block;
      color: #727272;
      font-family: $font-family;
      font-size: 11px;
      font-weight: 400;
      line-height: 10px;
      text-transform: uppercase;
      &::before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 10px;
        margin-right: 5px;
        background-image: url("../icons/arrow-left-pagination.svg");
        background-repeat: no-repeat;
      }
    }

    .date {
      float: right;
      display: inline-block;
      opacity: 0.5;
      color: #727272;
      font-family: $font-family;
      font-size: 11px;
      font-weight: 400;
      line-height: 8px;
      text-transform: uppercase;
      padding-top: 9px;
    }
  }
}
