.label {
  display: inline-block;
  color: #ffffff;
  font-family: $font-family;
  font-size: 11px;
  font-weight: 400;
  line-height: 10px;
  text-transform: uppercase;
  padding: 20px 30px 18px;
  background-color: #f43739;
}
