.map {

  &__content {
    position: relative;
  }

  &__container {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 781px;
    z-index: 3;
  }

  &__search {
    position: absolute;
    display: inline-block;
    top: 55px;
    right: 50%;
    z-index: 10;
    margin-right: -450px;
    transform: translateX(50%);

    &-form {
      float: right;
      position: relative;
      display: block;
      width: 270px;
      background-color: #ffffff;

      .search__input {
        position: relative;
        z-index: 1;
      }
    }
  }

  &__points {
    &-list {
      position: relative;
      overflow: hidden;
      display: block;
      width: 100%;
      background-color: #ffffff;

      &.shadow-bottom {
        &::after {
          content: ' ';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 45px;
          background: linear-gradient(0deg,#fff,transparent);
          transition: height 0.3s linear;
        }
      }

      &-inner {
        position: relative;
        overflow: hidden;
        display: block;
        max-height: 484px;
        height: auto;
        margin: 10px 0;

        .not-found {
          display: block;
          padding: 15px 30px;
        }
      }


      .point-list {
        &__item {
          position: relative;
          display: block;
          color: #727272;
          font-family: $font-family;
          font-size: 16px;
          font-weight: 300;
          line-height: 22px;
          padding: 12px 30px;
          transition: background-color .35s;

          &.active {
            background-color: #f8f8f8;

            &::before {
              content: '';
              position: absolute;
              display: block;
              width: 8px;
              height: 8px;
              top: 20px;
              left: 11px;
              border-radius: 100%;
              background-color: #f43739;
            }
          }

          &:hover {
            background-color: #f8f8f8;
          }
        }
      }
    }
  }
}



.b-map-balloon {
  display: block;
  width: 300px;
  padding: 25px 23px 25px 29px;
  box-sizing: border-box;
  box-shadow: 0 3px 16px rgba(3, 4, 4, 0.13);
  background-color: #ffffff;
  transform: translateY(-100%);

  &-contents {
    color: #727272;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 17px;
  }

  &-table {
    width: 100%;
    color: #727272;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    padding: 0;
    margin: 0;
    border: 0;

    table {
      min-width: 100%;
    }
  }
}
