.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    float: left;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }

    &.dropdown {
      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        vertical-align: middle;
        width: 9px;
        height: 6px;
        top: 20px;
        right: 0;
        background-image: url("../icons/arrow-bottom.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &:hover {
        .menu__link {
          color: #01549f;
          background-color: #ffffff;
        }
      }
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 300;
    line-height: 12px;
    padding: 16px 16px 14px;

    &.current {
      .menu__text {
        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 4px;
          left: 0;
          right: 0;
          bottom: -82px;
          background-color: #f43739;
        }
      }
    }

    &:hover {
      color: #01549f;
      background-color: #ffffff;
    }
  }

  &__text {
    position: relative;
    display: block;
  }



  &-bottom {
    &__column {
      display: inline-block;
      width: 155px;
      vertical-align: top;
      margin-right: 70px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__title {
      position: relative;
      display: inline-block;
      color: #727272;
      font-family: $font-family;
      font-size: 18px;
      font-weight: 300;
      line-height: 15px;
      margin-bottom: 37px;

      &.current {
        &::before {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 4px;
          top: -65px;
          left: 0;
          right: 0;
          background-color: #f43739;
        }
      }
    }

    &__item {
      display: block;
      color: #727272;
      font-family: $font-family;
      font-size: 13px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 10px;

      &:hover {
        color: #f43739;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
