.news {
  float: left;
  position: relative;
  display: block;
  width: 870px;
  z-index: 4;

  &-list {
    display: block;
    width: 870px;

    &__item {
      position: relative;
      display: block;
      width: 100%;
      height: 200px;
      margin-bottom: 30px;
      background-color: #ffffff;
      transition: box-shadow .35s;

      &:hover {
        box-shadow: 0 3px 16px rgba(3, 4, 4, 0.13);
      }
    }

    &__label {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &__preview {
      float: left;
      position: relative;
      overflow: hidden;
      display: inline-block;
      width: 270px;
      height: 200px;
    }

    &__content {
      position: relative;
      display: block;
      height: 100%;
      margin-left: 300px;
      box-sizing: border-box;
      padding: 39px 85px 40px 0;
    }

    &__title {
      display: block;
      color: #01549f;
      font-family: $font-family;
      font-size: 24px;
      font-weight: 300;
      line-height: 28px;
    }

    &__date {
      position: absolute;
      bottom: 40px;
      display: block;
      opacity: 0.5;
      color: #727272;
      font-family: $font-family;
      font-size: 11px;
      font-weight: 400;
      line-height: 22px;
      text-transform: uppercase;
    }
  }
}


.popular-news {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 80px;
  @extend .clearfix;

  &__title {
    padding-bottom: 40px;
  }
}
