.page {
  position: relative;
  overflow: hidden;
  min-height: 100%;

  &::after {
    content: '';
    position: relative;
    display: block;
    height: 286px;
  }



  &-404 {
    background-color: #01549f;


    &__container {
      position: relative;
      display: block;
      padding-top: 159px;

      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 267px;
        height: 267px;
        top: 99px;
        right: 200px;
        background-image: url("../icons/sad-face.svg");
        background-repeat: no-repeat;
      }
    }


    &__title {
      display: block;
      color: #ffffff;
      font-family: $font-family;
      font-size: 48px;
      font-weight: 700;
      line-height: 34px;
      margin-bottom: 38px;
    }

    &__content {
      display: inline-block;
      width: 100%;
      max-width: 460px;

      h3 {
        display: block;
        color: #ffffff;
        font-family: $font-family;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 14px;
      }

      p {
        font-family: $font-family;
        font-size: 18px;
        font-weight: 300;
        color: #ffffff;

        > a {
          position: relative;
          display: inline-block;
          color: #f43739;
          transition: color .35s, background-color .35s;

          &::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 6px;
            height: 9px;
            margin-top: 2px;
            margin-left: 5px;
            background-image: url("../icons/arrow-right-red.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }
        }
      }
    }


    .footer {
      border-top: 0;
      background-color: #01549f;


      .footer__content {
        .copyright,
        .certificate,
        .leave-review__link {
          color: #ffffff;
        }

        .created__logo {
          &:hover {
            background-image: url("../icons/bdv-logo.svg");
          }
        }
      }

      &__menu {
        .menu-bottom {
          &__title,
          &__item {
            color: #ffffff;
          }
        }
      }
    }
  }
}
