.pagination {
  display: block;
  text-align: center;
  margin: 30px 0;
  background-color: #ffffff;
  @extend .clearfix;

  &__item {
    display: inline-block;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 300;
    line-height: 11px;
    color: #01549f;
    padding: 27px 10px 23px;
    transition: color .35s;

    &:hover {
      color: #f43739;
    }

    &.current {
      color: #f43739;
    }
  }

  &__first,
  &__last {
    display: inline-block;
    color: #727272;
    font-family: $font-family;
    font-size: 11px;
    font-weight: 400;
    line-height: 10px;
    text-transform: uppercase;
  }

  &__first {
    float: left;
    padding: 27px 30px 23px;

    &::before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 10px;
      vertical-align: middle;
      margin-right: 5px;
      background-image: url("../icons/arrow-left-pagination.svg");
      background-repeat: no-repeat;
    }
  }

  &__last {
    float: right;
    padding: 27px 30px 23px;

    &::after {
      content: '';
      display: inline-block;
      width: 6px;
      height: 10px;
      vertical-align: middle;
      margin-left: 5px;
      background-image: url("../icons/arrow-right-pagination.svg");
      background-repeat: no-repeat;
    }
  }
}
