.promo {
  position: relative;
  overflow: hidden;
  display: block;
  height: 530px;
  padding-top: 78px;
  box-sizing: border-box;
  background-color: #01549f;

  &__title {
    display: block;
    color: #ffffff;
    font-family: $font-family;
    font-size: 84px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 34px;
  }

  &__caption {
    display: block;
    color: #ffffff;
    font-family: $font-family;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 27px;
  }
}
