.review {
  position: relative;
  display: block;
  padding: 60px 127px 60px 43px;
  box-sizing: border-box;
  background-color: #f8f8f8;

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 37px;
    height: 47px;
    top: -20px;
    left: 35px;
    z-index: 1;
    background: url("../icons/quote.svg") no-repeat;
  }


  &__text {
    display: block;
    color: #727272;
    font-family: $font-family;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 27px;
  }

  &-user {
    position: relative;
    display: block;
    padding-left: 70px;

    &__thumb {
      position: absolute;
      overflow: hidden;
      display: block;
      width: 60px;
      height: 60px;
      top: 50%;
      left: 0;
      border-radius: 100%;
      transform: translateY(-50%);
    }

    &__info {
      display: block;
      color: #727272;
      font-family: $font-family;
      font-size: 13px;
      font-weight: 300;
      line-height: 16px;
    }
  }


  &-test {
    position: relative;
    display: block;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }

    &__headline {
      display: block;
      padding: 0 39px 0 59px;
      margin-bottom: 10px;
      @include clearfix();
    }

    &__title {
      display: block;

      &--name {
        float: left;
        display: inline-block;
        width: 513px;
        font-family: $font-family;
        line-height: 22px;
        color: #f43739;
        font-size: 11px;
        font-weight: 300;
        line-height: 22px;
        text-transform: uppercase;
        margin-right: 36px;
      }

      &--price {
        float: left;
        display: inline-block;
        width: 110px;
        color: rgba(#727272, 0.5);
        font-size: 10px;
        line-height: 11px;
        text-transform: uppercase;
      }
    }


    &__item {
      display: block;
      background-color: transparent;
      transition: background-color .35s;

      &:hover {
        background-color: #f8f8f8;

        .review-test {
          &__button {
            &::before {
              background-image: url("../icons/circle-plus-hover.svg");
            }
          }
        }
      }

      &.current {
        background-color: #f8f8f8;

        .review-test {
          &__button {
            &::before {
              background-image: url("../icons/circle-plus-active.svg");
            }
          }

          &__name,
          &__price {
            color: #01549f;
          }
        }
      }
    }

    &__tumbler {
      position: relative;
      display: block;
      padding: 15px 39px 15px 59px;
      @include clearfix();
    }

    &__button {
      position: absolute;
      display: inline-block;
      width: 15px;
      height: 15px;
      top: 18px;
      left: 32px;

      &::before {
        content: '';
        position: relative;
        display: inline-block;
        width: 15px;
        height: 16px;
        background: url("../icons/circle-plus.svg") no-repeat;
        transition: background-image .35s;
      }
    }

    &__name {
      float: left;
      display: inline-block;
      width: 513px;
      font-family: $font-family;
      line-height: 22px;
      color: #727272;
      font-size: 16px;
      font-weight: 300;
      margin-right: 36px;
      transition: color .35s;
    }

    &__price {
      float: left;
      display: inline-block;
      width: 110px;
      color: #727272;
      transition: color .35s;
    }

    &__review {
      display: none;
      padding: 0 39px 15px 59px;
    }
  }
}
