.search {
  &__content {
    position: relative;
    margin-bottom: 57px;
  }

  &__field {
    position: relative;
    display: block;
  }

  &__input {
    display: block;
    width: 100%;
    height: 66px;
    color: #131313;
    font-family: $font-family;
    font-size: 24px;
    font-weight: 300;
    padding: 25px 85px 25px 29px;
    border: 0;
    box-sizing: border-box;
    box-shadow: 0 3px 16px rgba(3, 4, 4, 0.13);
    background-color: #ffffff;
  }

  &__button {
    position: absolute;
    display: inline-block;
    width: 26px;
    height: 26px;
    top: 50%;
    right: 29px;
    cursor: pointer;
    z-index: 3;
    border: 0;
    margin: 0;
    padding: 0;
    background: 0 0;
    background-image: url("../icons/search.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }

  &__sample {
    display: block;
    color: #727272;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 300;
    line-height: 14px;
    padding: 25px 0 27px;

    a {
      color: #f43739;
      border-bottom: 1px dotted #f43739;
      transition: color .35s, border-color .35s;

      &:hover {
        color: #000000;
        border-color: #000000;
      }
    }
  }

  &__toptest {
    position: absolute;
    display: inline-block;
    font-family: $font-family;
    font-size: 18px;
    color: #727272;
    font-weight: 300;
    line-height: 18px;
    top: -55px;
    right: 0;

    a {
      color: #727272;
    }

    span {
      color: #01549f;
      font-weight: 700;
    }
  }
}
