.sidebar {
  float: right;
  position: relative;
  display: block;
  width: 270px;

  &-menu {
    display: block;
    padding: 40px 59px 40px 29px;
    box-sizing: border-box;
    background-color: #ffffff;

    &__item {
      display: block;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      color: #727272;
      margin-bottom: 20px;
      transition: color .35s;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: #f43739;
      }

      &.current {
        color: #f43739;
      }
    }
  }
}
