.why-i-choose {
  padding: 60px 0;

  &__content {
    position: relative;
    height: 322px;
    padding-top: 60px;
    padding-left: 300px;
    padding-right: 84px;
    box-sizing: border-box;
    background-color: #ffffff;

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 251px;
      height: 348px;
      top: -26px;
      left: 20px;
      background-image: url("../images/girl.png");
    }
  }

  &__title {
    display: block;
    color: #01549f;
    font-family: $font-family;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 56px;
  }


  &__features {
    &-item {
      float: left;
      display: block;
      width: 210px;
      margin-right: 75px;

      &:last-child {
        margin-right: 0;
      }
    }

    &-count {
      float: left;
      position: relative;
      display: block;
      top: -5px;
      width: 40px;
      height: 40px;
      color: #ffffff;
      font-family: $font-family;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      padding-top: 2px;
      background-image: url("../icons/drop.svg");
      background-repeat: no-repeat;
    }

    &-title {
      color: #727272;
      font-family: $font-family;
      font-size: 24px;
      font-weight: 700;
      margin-left: 49px;
      margin-bottom: 28px;
    }

    &-text {
      display: block;
      color: #727272;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 300;
      line-height: 20px;
    }
  }
}
