.button {
  &-inline {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 13px;
    padding: 18px 20px 17px;
    vertical-align: top;
    text-align: center;
    border: 1px solid #ffffff;
    background: 0 0;

    &:hover {
      color: #01549f;
      background-color: #ffffff;
    }
  }


  &-action {
    display: inline-block;
    position: relative;
    overflow: hidden;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 13px;
    padding: 19px 20px 18px;
    vertical-align: top;
    text-align: center;
    background: 0 0;
    background-color: #f43739;

    &:hover {
      color: #ffffff;
      background-color: #000000;
    }

    &[type=button],
    &[type=submit] {
      cursor: pointer;
      border: 0;
    }
  }
}
