.dropdown {
  position: relative;

  &:hover {
    .dropdown-menu {
      display: block;
    }
  }

  &-menu {
    position: absolute;
    display: none;
    width: 206px;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 3;
    box-shadow: 0 10px 16px rgba(3, 4, 4, 0.13);
    background-color: #ffffff;

    &__item {
      display: block;
    }

    &__link {
      display: block;
      color: #01549f;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 300;
      line-height: 12px;
      padding: 16px 16px 14px;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }
}
