.form {
  &__control {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 13px 19px 11px;
    vertical-align: top;
    font-size: 100%;
    color: #727272;
    border: 0 solid transparent;
    outline: 0;
    box-sizing: border-box;
    background: 0 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    background-color: #ffffff;
    transition: color .35s;

    &-textarea {
      height: 100px;
    }
  }

  &-group {
    display: block;
    margin-bottom: 10px;
    transition: border .35s;
    @extend .clearfix;

    &__inline {
      float: left;
      display: inline-block;
      width: 280px;
      margin-right: 10px;
      transition: border .35s;
      @extend .clearfix;

      &:last-child {
        margin-right: 0;
      }
    }

    &__actions {
      display: block;
      text-align: right;
      padding-top: 10px;

      .button-action {
        &::after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 25px;
          height: 20px;
          margin-left: 8px;
          background-image: url("../icons/plane.svg");
          background-repeat: no-repeat;
        }
      }
    }
  }

  &__feedback {
    .form {
      &__control
      {
        &-textarea {
          height: 170px;
        }
      }
      &-group {
        &__inline {
          width: 380px;
        }

        &__actions {
          text-align: left;
        }
      }
    }
  }
}


.valid {

}

.invalid {
  border: 1px solid #f43739;

  input {
    color: #f43739;
  }
}
