.modal {
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-color: rgba(#000000, 0.1);
  transition: background-color .35s;


  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


  &-inline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;

    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 0
    }
  }


  &-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 1170px;
    height: 620px;
    margin: 40px 0;
    padding: 30px 20px 20px 30px;
    background-color: #f8f8f8;
  }

  &__hidden {
    display: none;
  }

  &-open {
    overflow: hidden;

    .modal {
      display: block;
    }

  }


  &-close {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    top: 0px;
    right: 0px;
    z-index: 1;
    background: url('../icons/close.svg') no-repeat center;
  }


  &-slider {
    display: block;

    &__preview {
      overflow: hidden;
    }

    &__item {
      display: none;
      &:first-child {
        display: block;
      }
    }

    &__caption {
      position: absolute;
      display: inline-block;
      width: 220px;
      color: #727272;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      top: 30px;
      left: 30px;
      z-index: 2;
    }

    &__preview {
      overflow: hidden;
      position: relative;
      display: block;
      width: 400px;
      margin: 0 auto;
    }

    &__count {
      position: absolute;
      display: inline-block;
      opacity: 0.5;
      color: #727272;
      font-family: $font-family;
      font-size: 11px;
      font-weight: 400;
      line-height: 10px;
      text-transform: uppercase;
      left: 30px;
      bottom: 38px;
    }

    &__controllers {
      position: absolute;
      display: none;
      right: 20px;
      bottom: 20px;
      z-index: 1;
    }


    &__prev,
    &__next {
      float: left;
      position: relative;
      display: inline-block;
      width: 50px;
      height: 50px;
      outline: none;
      background-color: #ffffff;

      &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 11px;
        height: 19px;
        top: 50%;
        left: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background-color: #01549f;
      }
    }

    &__prev {
      &::after {
        background-image: url("../icons/big-arrow-left.svg");
      }

      &:hover {
        &::after {
          background-image: url("../icons/big-arrow-left-hover.svg");
        }
      }
    }

    &__next {
      &::after {
        background-image: url("../icons/big-arrow-right.svg");
      }

      &:hover {
        &::after {
          background-image: url("../icons/big-arrow-right-hover.svg");
        }
      }
    }
  }
}
