html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  color: #727272;
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.5;
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a {
  color: #01549f;
  text-decoration: none;
  outline: none;
}
