.iScrollVerticalScrollbar.iScrollLoneScrollbar {
  background: #f2f2f2 !important;
  width: 4px !important;
  right: 10px !important;
  bottom: 0px !important;
}

.iScrollIndicator {
  background: #d1d1d1 !important;
  width: 4px !important;
  border-radius: 0px !important;
  border: 1px solid #d1d1d1 !important;
}
