html {
  text-rendering: optimizeLegibility;
}

h1 {
  color: #01549f;
  font-family: $font-family;
  font-size: 48px;
  font-weight: 700;
  line-height: 38px;
}

h2 {
  color: #01549f;
  font-family: $font-family;
  font-size: 32px;
  font-weight: 700;
  line-height: 22px;
}

b, strong {
  font-weight: 600;
}
